.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(120, 91, 248);
}

#questionPlay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  width: 90%;
  border-radius: 5px;
}

.color {
  color: rgb(105, 73, 247); 
}

#questioToAnswer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40%;
  border: 2px solid rgb(82, 63, 165);
  background-color: white;
  border-radius: 5px;
}

.buttonAnswer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 10%;
  border: 2px solid rgb(82, 63, 165);
  background-color: white;
  border-radius: 5px;
}

#staticsImgExample {
  height: 25%;
  width: 40%;
  border: 5px solid rgb(82, 63, 165);
  border-radius: 50%;
  background-image: url('../../../assets/Static.png');
  background-repeat: no-repeat;
  background-position: center center;  
}