.Container {
  height: 100%;
  width: 100%;
}

#newQuestion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 65%;
  width: 90%;
  border-radius: 5px;
}

#questionToMake {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40%;
  border: 2px solid rgb(59, 136, 131);
  background-color: white;
  border-radius: 15px;
}

.inputAnswer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 10%;
  text-align: center;
  border: 2px solid rgb(59, 136, 131);
  background-color: white;
  border-radius: 25px;
}

#buttonNewQuestion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15%;
  width: 90%;
  border-radius: 25px;
}

.buttonQuestion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  width: 50%;
  border: 2px solid rgb(59, 136, 131);
  border-radius: 25px;
}