.Container {
  height: 100%;
  width: 100%;
}

#gameQuestion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  width: 90%;
}

.gameQuestion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 10%;
  border: 2px solid rgb(153, 63, 115);
  background-color: white;
  border-radius: 25px;
}

#buttonPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 90%;
  border-radius: 5px;
}

.buttonBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30%;
  border: 2px solid rgb(153, 63, 115);
  border-radius: 25px;
}