#MainLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#MainLayout #MenuContainer a {
  text-decoration: none;
  width: 92%;
  height: 15%;
  color: rgb(100, 97, 97);
  /* border-bottom: 1px solid black; Button Line */
}

#MainLayout #MenuContainer a:hover {
  color: rgb(182, 97, 182);
}

#MenuButton {
  position: fixed;
  top: 11px;
  left: 11px;
  height: 24px;
  width: 24px;
  background-image: url('../../../assets/MenuButton.png');
  background-size: cover;                 
  background-repeat: no-repeat;
  background-position: center center;  
}

#Menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 1) */
  background: rgb(14, 13, 13);
  border-right: 2px solid black;
}

#Dark {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}

#MenuContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin-left: 8%;
  font-size: 125%;
  font-family: sans-serif;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-left: 0;
}

.imgsMenu {
  width: 35px;
  height: 35px; 
  background-size: cover;                 
  background-repeat: no-repeat;
  background-position: center center;  
  margin-right: 13%;
}

#homeImg {
  background-image: url('../../../assets/Home.png');
}

#loginImg {
  background-image: url('../../../assets/Player.png');
}

#gameImg {
  background-image: url('../../../assets/Play.png');
}

#questionImg {
  background-image: url('../../../assets/Questions.png');
}

#staticImg {
  background-image: url('../../../assets/Stats.png');
}

#ImgTop {
  width: 100%;
  height: 20%;
  background-image: url('../../../assets/MenuBackGround.jpeg');
  background-size: cover;                 
  background-repeat: no-repeat;
  background-position: center center;  
}

#MainContainer {
  width: 80%;
  height: 80%;
  border: 2px solid black;
}
