#MainLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(250, 252, 135);
}

#MainLayout #MenuContainer a {
  text-decoration: none;
  color: black;
}

#MainLayout #MenuContainer a:hover {
  color: rgb(182, 97, 182);
}

#MenuButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 2vh;
  left: 3vw;
  height: 20px;
  width: 30px;
}

.line {
  height: 15%;
  width: 80%;
  border-bottom: 2px solid black;
}

#Menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: rgb(180, 148, 187);
  border-right: 2px solid black;
}

#Dark {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

#MenuContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 125%;
  font-family: georgia;
}
#MainContainer {
  width: 80%;
  height: 80%;
  border: 2px solid black;
}
