#MainLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#MainLayout #MenuContainer a {
  text-decoration: none;
  color: rgb(100, 97, 97);
  /* border-bottom: 1px solid black; Button Line */
}

#MainLayout #MenuContainer a:hover {
  color: rgb(182, 97, 182);
}

#MenuButton {
  position: fixed;
  top: 11px;
  left: 11px;
  height: 24px;
  width: 24px;
  background-image: url('../../../assets/MenuButton.png');
  background-size: cover;                 
  background-repeat: no-repeat;
  background-position: center center;  
}

#Menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1); /*transparency*/
  border-right: 2px solid black;
}

#Dark {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
}

#MenuContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-size: 125%;
  font-family: sans-serif;
  margin-top: 5%;
  /* margin-left: 10%; */
}

.link {
  display: flex;
  align-items: center;
  height: 10%;
  width: 100%;
  margin: 10%;
}

#ImgTop {
  width: 100%;
  height: 20%;
  background-image: url('../../../assets/MenuBackGround.jpeg');
  background-size: cover;                 
  background-repeat: no-repeat;
  background-position: center center;  
}

#MainContainer {
  width: 80%;
  height: 80%;
  border: 2px solid black;
}
